<!-- <button mat-button class="btnToggle" (click)="toggle()" position="end">Toggle</button> -->
<mat-icon class="iconToggle" (click)="toggle()" position="end">menu</mat-icon>

<!-- <mat-sidenav-container class="sidenav-container" autosize> -->
<mat-sidenav-container [ngClass]="sideNavStyles" autosize>

	<!-- <mat-sidenav #sidenav class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" position="end"> -->
	<!-- <mat-sidenav #sidenav class="sidenav" fixedInViewport [attr.role]="'navigation'" [mode]="'over'" [opened]="true" position="end"> -->
	<mat-sidenav #sidenav class="sidenav" fixedInViewport [attr.role]="'navigation'" [mode]="'over'" [opened]="false" position="end">
		<!-- <button mat-button class="btnToggle" (click)="toggle()">Toggle</button> -->

		<mat-nav-list>
			<!-- <li mat-list-item *ngFor="let employer of work; index as employerIndex" (click)="goToEmployer(employer.employer)">{{ employer.employer }}</li> -->
			<!-- <li mat-list-item *ngFor="let employer of work; index as employerIndex" (click)="goToEmployer(employer)">{{ employer.employer }}</li> -->

            <!-- <li mat-list-item *ngFor="let employer of work; index as employerIndex" [routerLink]="['/work']" [fragment]="employer.albumID" (click)="goToEmployer(employer)">{{ employer.employer }}</li> -->
			<!-- <li mat-list-item *ngFor="let employer of work; index as employerIndex" [routerLink]="['/resume']" [fragment]="employer.albumID" (click)="goToEmployer(employer)">{{ employer.employer }}</li> -->
			<li mat-list-item *ngFor="let employer of work; index as employerIndex" [routerLink]="thisRoute" [fragment]="employer.albumID" (click)="goToEmployer(employer)">{{ employer.employer }}</li>
		</mat-nav-list>

	</mat-sidenav>

</mat-sidenav-container>
