<!-- 
<mat-sidenav-container class="sidenav-container">

	<mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" position="end">
		<mat-toolbar>Menu</mat-toolbar>
		<p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>

		<mat-nav-list>
			<li mat-list-item *ngFor="let employer of work; index as employerIndex" (click)="goToEmployer(employer.employer)">{{ employer.employer }}</li>
		</mat-nav-list>

	</mat-sidenav>


	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<span>shigimcp2019-angular</span>
		</mat-toolbar>
		Add Content Here
	</mat-sidenav-content>


</mat-sidenav-container>
 -->




<mat-sidenav-container class="example-container" *ngIf="shouldRun">
	<mat-sidenav #sidenav [mode]="mode.value">
		<p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
		<p>
			<mat-radio-group class="example-radio-group" [formControl]="mode">
				<label>Mode:</label>
				<mat-radio-button value="over">Over</mat-radio-button>
				<mat-radio-button value="side">Side</mat-radio-button>
				<mat-radio-button value="push">Push</mat-radio-button>
			</mat-radio-group>
		</p>
	</mat-sidenav>

	<mat-sidenav-content>
		<p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
		<p>
			<mat-radio-group class="example-radio-group" [formControl]="mode">
				<label>Mode:</label>
				<mat-radio-button value="over">Over</mat-radio-button>
				<mat-radio-button value="side">Side</mat-radio-button>
				<mat-radio-button value="push">Push</mat-radio-button>
			</mat-radio-group>
		</p>
	</mat-sidenav-content>
</mat-sidenav-container>

