// ------------------------- SMALL screens -------------------------

// .resumeContainer {
.resSm {
    // border: 2px solid #ff0000;

    // margin: 120px 0 0 10%;
    margin: 60px 0 0 10%;
    padding: 0 0 50vh 0;

	.employer_card {
	    // border: 2px solid #00ff00;

	    width: 100%;
	    // margin: 0 0 60px 0;
	    // padding: 0;
	    margin: 0;
	    padding: 60px 0 0 0;

	    .empl_logo {
	        // border: 2px solid #0000ff;

	        width: 15%;

	        margin: 0;
	        padding: 0;

	        display: inline-block;

	        img {
	            // border: 2px solid #ff00ff;

	            width: 100%;
	            max-height: 150px;

	            margin: 0 auto;
	            padding: inherit;
	        }
	    }

	    .empl_descr {
	        // border: 2px solid #0000ff;

	        line-height: 1.5em;
	        vertical-align: top;

	        width: 75%;

	        margin: 0;
	        padding: 0 0 0 6.25%;

	        display: inline-block;

	        .empl_hed {
	            font-family: 'HelveticaNeue-Bold';
	            font-size: 1.25em;
	            font-weight: 900;
	            text-transform: uppercase;
	        }

	        .empl_title {
	            font-family: 'HelveticaNeue-Bold';
	            font-weight: 900;
	        }

	        hr {
	            margin: 10px 85% 10px 5px;
	        }

	        .empl_date {
	            margin: 0 0 10px 0;
	        }

	        > * {
	            margin: 0;
	            padding: 0;
	        }
	    }
	}
}


// ------------------------- MEDIUM screens -------------------------

.resMd {
    // border: 2px solid #ff0000;

    width: 80vw;

    // margin: 120px 0 0 10%;
    margin: 60px 0 0 10%;
    padding: 0 0 50vh 0;

	.employer_card {
	    // border: 2px solid #00ff00;

	    width: 100%;
	    // margin: 0 0 60px 0;
	    // padding: 0;
	    margin: 0;
	    padding: 60px 0 0 0;

	    .empl_logo {
	        // border: 2px solid #0000ff;

	        width: 15%;

	        margin: 0;
	        padding: 0;

	        display: inline-block;

	        img {
	            // border: 2px solid #ff00ff;

	            width: 100%;
	            max-height: 150px;

	            margin: 0 auto;
	            padding: inherit;
	        }
	    }

	    .empl_descr {
	        // border: 2px solid #0000ff;

	        line-height: 1.5em;
	        vertical-align: top;

	        width: 75%;

	        margin: 0;
	        padding: 0 0 0 6.25%;

	        display: inline-block;

	        .empl_hed {
	            font-family: 'HelveticaNeue-Bold';
	            font-size: 1.25em;
	            font-weight: 900;
	            text-transform: uppercase;
	        }

	        .empl_title {
	            font-family: 'HelveticaNeue-Bold';
	            font-weight: 900;
	        }

	        hr {
	            margin: 10px 85% 10px 5px;
	        }

	        .empl_date {
	            margin: 0 0 10px 0;
	        }

	        > * {
	            margin: 0;
	            padding: 0;
	        }
	    }
	}
}


// ------------------------- LARGE screens -------------------------

.resLg {
    // border: 2px solid #ff0000;

    // margin: 120px 0 0 10%;
    margin: 60px 0 0 10%;
    padding: 0 0 50vh 0;

	.employer_card {
	    // border: 2px solid #00ff00;

	    width: 100%;
	    // margin: 0 0 60px 0;
	    // padding: 0;
	    margin: 0;
	    padding: 60px 0 0 0;

	    .empl_logo {
	        // border: 2px solid #0000ff;

	        width: 15%;

	        margin: 0;
	        padding: 0;

	        display: inline-block;

	        img {
	            // border: 2px solid #ff00ff;

	            width: 100%;
	            max-height: 150px;

	            margin: 0 auto;
	            padding: inherit;
	        }
	    }

	    .empl_descr {
	        // border: 2px solid #0000ff;

	        line-height: 1.5em;
	        vertical-align: top;

	        width: 75%;

	        margin: 0;
	        padding: 0 0 0 6.25%;

	        display: inline-block;

	        .empl_hed {
	            font-family: 'HelveticaNeue-Bold';
	            font-size: 1.25em;
	            font-weight: 900;
	            text-transform: uppercase;
	        }

	        .empl_title {
	            font-family: 'HelveticaNeue-Bold';
	            font-weight: 900;
	        }

	        hr {
	            margin: 10px 85% 10px 5px;
	        }

	        .empl_date {
	            margin: 0 0 10px 0;
	        }

	        > * {
	            margin: 0;
	            padding: 0;
	        }
	    }
	}
}