<!-- <p>========================= MODAL COMPONENT =========================</p> -->

<div #modalApp class="app-modal">
	<div #modalBody class="app-modal-body">
		<iframe #modalIframe class="embed-responsive-item" [src]="modalLink" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
		<!-- <iframe #modalIframe class="embed-responsive-item" [src]="modalLink" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="-webkit-transform:scale(0.5);-moz-transform-scale(0.5);"></iframe> -->
	</div>
</div>

<div class="app-modal-background"></div>