
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$shigimcp2019-angular-primary: mat-palette($mat-indigo);
$shigimcp2019-angular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$shigimcp2019-angular-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$shigimcp2019-angular-theme: mat-light-theme($shigimcp2019-angular-primary, $shigimcp2019-angular-accent, $shigimcp2019-angular-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($shigimcp2019-angular-theme);

// ========================= FONTS =========================

@font-face {
	font-family: 'AnimeAceItalic';
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/AnimeAceItalic.otf') format("opentype");
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/AnimeAceItalic.eot');
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/AnimeAceItalic.woff') format('woff'),
	url('https://shigimcp.com/Xstage/angular_github/fonts/AnimeAceItalic.svg#-Italic') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Light.otf') format("opentype");
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Light.eot');
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Light.woff') format('woff'),
	url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Light.svg#-Italic') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Bold.otf') format("opentype");
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Bold.eot');
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Bold.woff') format('woff'),
	url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Bold.svg#-Italic') format('svg');
}

$comicScript: 'AnimeAceItalic';
$body: 'HelveticaNeue-Light';
$hedContainer: 'HelveticaNeue-Bold';


// ========================= HTML, BODY =========================

html, body {
	// border: 2px solid #ff0000;

	// font-family: 'HelveticaNeue-Light', Arial, Helvetica, sans-serif;
	// font-family: $body, Arial, Helvetica, sans-serif !important;
	font-family: $body, Arial, Helvetica, sans-serif, Roboto, "Helvetica Neue" !important;
	letter-spacing: 0.0125em;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    width: 100%;
    height: 100%;

	margin: 0;
	padding: 0;

    scroll-behavior: smooth;

    img {
        // user-drag: none; 
        -moz-user-drag: none;
        -webkit-user-drag: none;
        -ms-user-drag: none;

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    :focus {
        border: none;
        outline: none;
    }
}

// ------------------------- Custom Theming for Angular Material -------------------------

// html, body {
//     height: 100%;
// }

// body {
//     margin: 0;
//     font-family: Roboto, "Helvetica Neue", sans-serif;
// }



// ========================= BACKGROUND =========================

$bgR: 255;
$bgG: 255;
$bgB: 255;
$bg_angle: 90deg;
$bg_opacity: 0.25;
// $bg_width_lf: 65%;
$bg_width_lf: 62.5%;

body {
	// border: 2px solid #00ff00;

	background: rgb($bgR,$bgG,$bgB);
	background: -moz-linear-gradient($bg_angle, rgba($bgR,$bgG,$bgB,$bg_opacity) 0%, rgba($bgR,$bgG,$bgB,$bg_opacity) $bg_width_lf, rgba(0,0,0,$bg_opacity) $bg_width_lf);
	background: -webkit-linear-gradient($bg_angle, rgba($bgR,$bgG,$bgB,$bg_opacity) 0%, rgba($bgR,$bgG,$bgB,$bg_opacity) $bg_width_lf, rgba(0,0,0,$bg_opacity) $bg_width_lf);
	background: linear-gradient($bg_angle, rgba($bgR,$bgG,$bgB,$bg_opacity) 0%, rgba($bgR,$bgG,$bgB,$bg_opacity) $bg_width_lf, rgba(0,0,0,$bg_opacity) $bg_width_lf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);

    // background-image: url(./assets/snapshots/shigimcp_2019_08_1440x900.jpg);
    // background-size: 50vw;
    // background-position: top center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
}



// ========================= BREAKPOINT - SMALL screens =========================

.globalSm {

    .bg_txt {
        // border: 2px solid #ff0000;

        // color: rgba($color: #000000, $alpha: 0.1);
        color: rgba($color: #000000, $alpha: 0.05);
        font-family: 'HelveticaNeue-Bold';
        font-size: 20em;
        // font-size: 20vw;
        letter-spacing: -0.1875em;
        word-spacing: 0.0875em;
        // line-height: 10em;
        line-height: 0.75em;
        text-transform: lowercase;

        // width: 100%;
        // width: 45%;
        // width: 30vw;
        // width: 40vw;
        width: 50vw;

        // display: block;
        // opacity: 0.1;
        // overflow: hidden;

        // position: absolute;
        position: fixed;
        // top: -0.1875em;
        // top: -0.25em;
        top: 0;
        left: 55vw;
        // z-index: -10;
        z-index: 10;
    }


    // ------------------------- CONTAINER: sectContainer -------------------------

    .sectContainer {
        // border: 2px solid #ff0000;

        // margin: 80px 0 0 12.5%;
        margin: 120px 0 0 12.5%;
        // margin: 120px 0 0 10%;
        padding: 0;
        // padding: 0 0 50vh 0;
    }


    // ------------------------- EMPLOYER COMPONENT - mdb-carousel -------------------------

    .carousel {
        // border: 2px solid #00ff00;

        // height: 90vh;

        .carousel-indicators {
            visibility: hidden;
        }
    
        .carousel-caption {
            color: rgba(150, 150, 150, 1);
            text-transform: uppercase;
        }
    }
}


// ========================= BREAKPOINT - MEDIUM screens =========================

.globalMd {

    .bg_txt {
        // border: 2px solid #ff0000;

        color: rgba($color: #000000, $alpha: 0.05);
        font-family: 'HelveticaNeue-Bold';
        font-size: 15em;
        letter-spacing: -0.1875em;
        word-spacing: 0.0875em;
        line-height: 0.75em;
        text-transform: lowercase;

        // width: 40vw;
        width: 50vw;

        position: fixed;
        top: 0;
        left: 55vw;
        z-index: 10;
    }


    // ------------------------- CONTAINER: sectContainer -------------------------

    .sectContainer {
        // border: 2px solid #ff0000;

        // margin: 80px 0 0 12.5%;
        margin: 120px 0 0 12.5%;
        // margin: 120px 0 0 10%;
        padding: 0;
        // padding: 0 0 50vh 0;
    }


    // ------------------------- EMPLOYER COMPONENT - mdb-carousel -------------------------

    .carousel {
        // border: 2px solid #ff0000;

        height: calc(100vh - 60px);
        // height: calc(92.5vh - 60px - 7.5vh);
        // height: inherit;
        // z-index: 0;

        .carousel-indicators {
            visibility: hidden;
        }
    
        .carousel-caption {
            color: rgba(150, 150, 150, 1);
            text-transform: uppercase;

            // margin: -7.5vh 0 0 0;
            bottom: 5vh;
        }

        .carousel-inner {
            // border: 2px solid #00ff00;

            height: inherit;

            .carousel-item {
                // border: 2px solid #0000ff;

                // width: 100%;
                // width: auto;
                height: inherit;
                // width: calc(height * 16 / 9);

                display: flex;
                // display: -webkit-flex;
                // display: -ms-flexbox;
                // display: -webkit-box;
                // display: -moz-box;

                justify-content: center;
                // -moz-justify-content: center;
                // -ms-justify-content: center;
                // -webkit-justify-content: center;

                img {
                    // border: 2px solid #ffff00;

                    // width: auto;
                    // height: inherit;
                    // width: calc(height * 16 / 9);
                    // width: 150%;
    
                    display: block;
                    margin: auto;

                    // display: flex;
                    // display: -webkit-flex;
                    // display: -ms-flexbox;
                    // display: -webkit-box;
                    // display: -moz-box;

                    // justify-content: center;
                    // -moz-justify-content: center;
                    // -ms-justify-content: center;
                    // -webkit-justify-content: center;
                }
            }
        }
    }
}


// ========================= BREAKPOINT - LARGE screens =========================

.globalLg {

    .bg_txt {
        // border: 2px solid #ff0000;

        // color: rgba($color: #000000, $alpha: 0.1);
        color: rgba($color: #000000, $alpha: 0.05);
        font-family: 'HelveticaNeue-Bold';
        font-size: 20em;
        // font-size: 20vw;
        letter-spacing: -0.1875em;
        word-spacing: 0.0875em;
        // line-height: 10em;
        line-height: 0.75em;
        text-transform: lowercase;

        // width: 100%;
        // width: 45%;
        // width: 30vw;
        // width: 40vw;
        width: 50vw;

        // display: block;
        // opacity: 0.1;
        // overflow: hidden;

        // position: absolute;
        position: fixed;
        // top: -0.1875em;
        // top: -0.25em;
        top: 0;
        left: 55vw;
        // z-index: -10;
        // z-index: 10;
    }


    // ------------------------- CONTAINER: sectContainer -------------------------

    .sectContainer {
        // border: 2px solid #ff0000;

        // margin: 80px 0 0 12.5%;
        margin: 120px 0 0 12.5%;
        // margin: 120px 0 0 10%;
        padding: 0;
        // padding: 0 0 50vh 0;
    }


    // ------------------------- EMPLOYER COMPONENT - mdb-carousel -------------------------

    .carousel {
        // border: 2px solid #ff0000;

        // height: 90vh;

        .carousel-indicators {
            visibility: hidden;
        }
    
        .carousel-caption {
            color: rgba(150, 150, 150, 1);
            text-transform: uppercase;
        }

        .carousel-inner {
            // border: 2px solid #00ff00;

            // height: inherit;
            // height: 100%;

            .carousel-item {
                // border: 2px solid #0000ff;
                // background: #000000;

                // width: inherit;
                // height: inherit;

                // display: flex;
                // justify-content: center;

                // .view {
                //     border: 2px solid #ffff00;

                //     // width: 100%;
                //     // height: 95%;
                //     // height: inherit;

                //     display: flex;
                //     justify-content: center;

                //     .w-100 {
                //         border: 2px solid #0000ff;

                //         // width: 100%;
                //         // height: inherit;

                //         // display: flex;
                //         // justify-content: center;

                //         // // position: absolute;
                //         // // top: 47.5%;
                //         // top: 50%;
                //         // transform: translateY(-50%);
                //         // -ms-transform: translateY(-50%);
                //         // -moz-transform: translateY(-50%);
                //         // -webkit-transform: translateY(-50%);
                //         // -o-transform: translateY(-50%);

                //         // position: absolute;
                //         // top: 0;
                //         // top: 0;
                //     }
                // }

                img {
                    // border: 2px solid #ffff00;

                    // width: inherit;
                    // height: inherit;

                    display: block;
                    margin: auto;                  
                }
            }
        }
    }
}
