// ========================= FONTS =========================

@font-face {
	font-family: 'AnimeAceItalic';
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/AnimeAceItalic.otf') format("opentype");
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/AnimeAceItalic.eot');
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/AnimeAceItalic.woff') format('woff'),
	url('https://shigimcp.com/Xstage/angular_github/fonts/AnimeAceItalic.svg#-Italic') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue-Light';
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Light.otf') format("opentype");
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Light.eot');
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Light.woff') format('woff'),
	url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Light.svg#-Italic') format('svg');
}

@font-face {
	font-family: 'HelveticaNeue-Bold';
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Bold.otf') format("opentype");
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Bold.eot');
	src: url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Bold.woff') format('woff'),
	url('https://shigimcp.com/Xstage/angular_github/fonts/HelveticaNeue-Bold.svg#-Italic') format('svg');
}

$comicScript: 'AnimeAceItalic';
$body: 'HelveticaNeue-Light';
$hedContainer: 'HelveticaNeue-Bold';


// ========================= HTML, BODY =========================

html, body {
	// border: 2px solid #ff0000;

	// font-family: 'HelveticaNeue-Light', Arial, Helvetica, sans-serif;
	font-family: $body, Arial, Helvetica, sans-serif !important;
	letter-spacing: 0.0125em;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    width: 100%;
    height: 100%;

	margin: 0;
	padding: 0;

    scroll-behavior: smooth;

    img {
        // user-drag: none; 
        -moz-user-drag: none;
        -webkit-user-drag: none;
        -ms-user-drag: none;

        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    :focus {
        border: none;
        outline: none;
    }
}


// ========================= BACKGROUND =========================

$bgR: 255;
$bgG: 255;
$bgB: 255;
$bg_angle: 90deg;
$bg_opacity: 0.25;
// $bg_width_lf: 65%;
$bg_width_lf: 62.5%;

body {
	// border: 2px solid #00ff00;

	background: rgb($bgR,$bgG,$bgB);
	background: -moz-linear-gradient($bg_angle, rgba($bgR,$bgG,$bgB,$bg_opacity) 0%, rgba($bgR,$bgG,$bgB,$bg_opacity) $bg_width_lf, rgba(0,0,0,$bg_opacity) $bg_width_lf);
	background: -webkit-linear-gradient($bg_angle, rgba($bgR,$bgG,$bgB,$bg_opacity) 0%, rgba($bgR,$bgG,$bgB,$bg_opacity) $bg_width_lf, rgba(0,0,0,$bg_opacity) $bg_width_lf);
	background: linear-gradient($bg_angle, rgba($bgR,$bgG,$bgB,$bg_opacity) 0%, rgba($bgR,$bgG,$bgB,$bg_opacity) $bg_width_lf, rgba(0,0,0,$bg_opacity) $bg_width_lf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);

    // background-image: url(./assets/snapshots/shigimcp_2019_08_1440x900.jpg);
    // background-size: 50vw;
    // background-position: top center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
}


// ------------------------- SMALL screens -------------------------

.globalSm {

    .bg_txt {
        // border: 2px solid #ff0000;

        // color: rgba($color: #000000, $alpha: 0.1);
        color: rgba($color: #000000, $alpha: 0.05);
        font-family: 'HelveticaNeue-Bold';
        font-size: 20em;
        // font-size: 20vw;
        letter-spacing: -0.1875em;
        word-spacing: 0.0875em;
        // line-height: 10em;
        line-height: 0.75em;
        text-transform: lowercase;

        // width: 100%;
        // width: 45%;
        // width: 30vw;
        // width: 40vw;
        width: 50vw;

        // display: block;
        // opacity: 0.1;
        // overflow: hidden;

        // position: absolute;
        position: fixed;
        // top: -0.1875em;
        // top: -0.25em;
        top: 0;
        left: 55vw;
        // z-index: -10;
        z-index: 10;
    }


    // ========================= CONTAINER: sectContainer =========================

    .sectContainer {
        // border: 2px solid #ff0000;

        // margin: 80px 0 0 12.5%;
        margin: 120px 0 0 12.5%;
        // margin: 120px 0 0 10%;
        padding: 0;
        // padding: 0 0 50vh 0;
    }


    // ========================= EMPLOYER COMPONENT - mdb-carousel =========================

    .carousel {
        // border: 2px solid #00ff00;

        // height: 90vh;

        .carousel-indicators {
            visibility: hidden;
        }
    
        .carousel-caption {
            color: rgba(150, 150, 150, 1);
            text-transform: uppercase;
        }
    }
}


// ------------------------- MEDIUM screens -------------------------

.globalMd {

    .bg_txt {
        // border: 2px solid #ff0000;

        color: rgba($color: #000000, $alpha: 0.05);
        font-family: 'HelveticaNeue-Bold';
        font-size: 15em;
        letter-spacing: -0.1875em;
        word-spacing: 0.0875em;
        line-height: 0.75em;
        text-transform: lowercase;

        // width: 40vw;
        width: 50vw;

        position: fixed;
        top: 0;
        left: 55vw;
        z-index: 10;
    }


    // ========================= CONTAINER: sectContainer =========================

    .sectContainer {
        // border: 2px solid #ff0000;

        // margin: 80px 0 0 12.5%;
        margin: 120px 0 0 12.5%;
        // margin: 120px 0 0 10%;
        padding: 0;
        // padding: 0 0 50vh 0;
    }


    // ========================= EMPLOYER COMPONENT - mdb-carousel =========================

    .carousel {
        // border: 2px solid #00ff00;

        height: calc(100vh - 60px);
        // height: calc(92.5vh - 60px - 7.5vh);
        // height: inherit;
        // z-index: 0;

        // .carouselItem {
        //     border: 2px solid #ff00ff;

        //     height: inherit;
        // }

        .carousel-inner {
            // border: 2px solid #ff00ff;

            // height: inherit;
            height: 100%;

            .carousel-item {
                // border: 2px solid #00ff00;
                // background: #000000;

                height: inherit;

                .view {
                    // border: 2px solid #ffff00;

                    height: 95%;

                    .w-100 {
                        // border: 2px solid #0000ff;

                        // position: absolute;
                        top: 50%;
                        // top: 47.5%;
                        transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                    }
                }
            }
        }

        .carousel-indicators {
            visibility: hidden;
        }
    
        .carousel-caption {
            color: rgba(150, 150, 150, 1);
            text-transform: uppercase;

            // margin: -7.5vh 0 0 0;
            bottom: 5vh;
        }
    }
}


// ------------------------- LARGE screens -------------------------

.globalLg {

    .bg_txt {
        // border: 2px solid #ff0000;

        // color: rgba($color: #000000, $alpha: 0.1);
        color: rgba($color: #000000, $alpha: 0.05);
        font-family: 'HelveticaNeue-Bold';
        font-size: 20em;
        // font-size: 20vw;
        letter-spacing: -0.1875em;
        word-spacing: 0.0875em;
        // line-height: 10em;
        line-height: 0.75em;
        text-transform: lowercase;

        // width: 100%;
        // width: 45%;
        // width: 30vw;
        // width: 40vw;
        width: 50vw;

        // display: block;
        // opacity: 0.1;
        // overflow: hidden;

        // position: absolute;
        position: fixed;
        // top: -0.1875em;
        // top: -0.25em;
        top: 0;
        left: 55vw;
        // z-index: -10;
        // z-index: 10;
    }


    // ========================= CONTAINER: sectContainer =========================

    .sectContainer {
        // border: 2px solid #ff0000;

        // margin: 80px 0 0 12.5%;
        margin: 120px 0 0 12.5%;
        // margin: 120px 0 0 10%;
        padding: 0;
        // padding: 0 0 50vh 0;
    }


    // ========================= EMPLOYER COMPONENT - mdb-carousel =========================

    .carousel {
        // border: 2px solid #00ff00;

        // height: 90vh;

        .carousel-indicators {
            visibility: hidden;
        }
    
        .carousel-caption {
            color: rgba(150, 150, 150, 1);
            text-transform: uppercase;
        }
    }
}