<!-- <div class="sectContainer"> -->
<!-- <div class="homeContainer"> -->
<div [ngClass]="[globalStyles, homeStyles]">

    <div class="imgContainer" id="imgContainerId">

		<div class="imgDiv" id="imgDivRID" [routerLink]="['/about']">
			<img class="imgR" src="https://shigimcp.com/Xstage/angular_github/img/0elements/kawaii02.png">
			<p id="tagR">Continue with Angular 8 ==&gt;</p>
		</div>

		<div class="imgDiv" id="imgDivLID" (click)="shigimcpDOTcom()">
			<img class="imgL" id="imgLID" src="https://shigimcp.com/Xstage/angular_github/img/0elements/shigeru_logo.svg">
			<p id="tagL">&lt;== Go To Current / Soon-to-Be-Legacy Website</p>
		</div>

	</div>

	<div class="egg" id="eggID" [routerLink]="['/mesmerize']" (mouseenter)="eggOver($event, ['autoAlpha', 1, 1])" (mouseleave)="eggOver($event, ['autoAlpha', 0.25, 0])">
		<img class="egg_img" #egg_img id="egg_imgId" src="https://shigimcp.com/Xstage/angular_github/img/0elements/kawaii02_dirty_anim03_1920x1080_16bit.gif">
		<p class="egg_copy" #egg_copy id="egg_copyId">If you value your eyeballs,<br>leave the dancing egg thing alone...</p>
	</div>

</div>
