@import "../../styles.scss";

// .homeContainer {
.homeSm {
	// border: 2px solid #ff0000;

	background: #ffffff;

	// width: 100%;
	// height: 100%;
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	.imgContainer {
		// border: 2px solid #00ff00;

		width: 60vw;
		// width: 30vw;
		height: 100vh;
		// height: auto;

		margin: 0 auto;
		// margin: 60px auto 0 auto;
		padding: 0;

		// display: table;
		display: block;

		img {
			// border: 2px solid #ff00ff;

			width: 30vw;

			// vertical-align: middle;

			margin: 0 auto;
			// padding: 0;
			// padding: 7.5vh 0 0 0;
			// padding: 5% 0;

			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}

		.imgL {
			// width: 50%;

			// transform: rotateY(30deg);

			padding: 3.375% 0 0 0;

			// float: left;

			// position: absolute;
			z-index: 10;
		}

		.imgR {
			// width: 50%;
			height: auto;
			max-height: 100vh;

			padding: 5% 0 0 0;

			// float: right;

			// position: absolute;
			z-index: 9;
		}
	}

	.egg {
		// border: 2px solid #ff0000;

		position: absolute;
		right: 5vw;
		bottom: 5vh;

		cursor: pointer;

		.egg_img {
			// border: 2px solid #00ff00;

			opacity: 0.25;

			margin-left: auto;
			margin-right: auto;

			position: absolute;
			left: 0;
			right: 0;
		}

		.egg_copy {
			// border: 2px solid #00ff00;

			line-height: 1.25em;
			text-align: center;

			opacity: 0;

			margin: 25% 0 0 0;
			padding: 0;
		}
	}
}


.homeMd {
	// border: 2px solid #ff0000;

	background: #ffffff;

	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	.imgContainer {
		// border: 2px solid #00ff00;

		width: 90vw;
		height: inherit;

		margin: 0 auto;
        // padding: 5vh 0 0 0;
        padding: 6.25vh 0 0 0;

		.imgDiv {
			// border: 2px solid #ff00ff;

			// width: 40vw;
			width: 37.5vw;

			margin: 0 auto;

			position: absolute;
			left: 0;
			right: 0;

            cursor: pointer;
            pointer-events: none;

            img {
                width: 100%
            }

            p {
                text-align: center;
                padding: 2.5vh 0 0 0;
            }
		}

		.imgL {
			// border: 2px solid #ff00ff;

            // padding: 5% 0 0 0;
            padding: 2.5% 0 0 0;
		}

		.imgR {
			// border: 2px solid #ff00ff;

			padding: 7.5% 0 0 0;
		}
	}

	.egg {
		// border: 2px solid #ff0000;

		position: absolute;
		right: 1vw;
		bottom: 1.5vh;

		cursor: pointer;

		.egg_img {
			// border: 2px solid #00ff00;

			opacity: 0.25;

			margin-left: auto;
			margin-right: auto;

			position: absolute;
			left: 0;
			right: 0;
		}

		.egg_copy {
			// border: 2px solid #00ff00;

			line-height: 1.25em;
			text-align: center;

			opacity: 0;

			margin: 25% 0 0 0;
			padding: 0;
		}
	}
}


.homeLg {
	// border: 2px solid #ff0000;

	background: #ffffff;

	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	.imgContainer {
		// border: 2px solid #00ff00;

		width: 60vw;
        height: inherit;

        margin: 0 auto;
        padding: 5vh 0 0 0;

		.imgDiv {
			// border: 2px solid #ff00ff;

			width: 30vw;
			height: auto;
			max-height: 100vh;

			margin: 0 auto;

			position: absolute;
			left: 0;
            right: 0;

            cursor: pointer;
            pointer-events: none;

            // p {
            .tag {
                text-align: center;
                padding: 2.5vh 0 0 0;
            }
		}

		.imgL {
			// border: 2px solid #ff00ff;
			width: 30vw;
			height: auto;
			max-height: 100vh;

			// padding: 3.375% 0 0 0;
			padding: 0;
		}

		.imgR {
			// border: 2px solid #ff00ff;
			width: 30vw;
			height: auto;
			max-height: 100vh;

			padding: 5% 0 0 0;
		}
	}

	.egg {
		// border: 2px solid #ff0000;

		position: absolute;
		right: 5vw;
		bottom: 5vh;

		cursor: pointer;

		.egg_img {
			// border: 2px solid #00ff00;

			opacity: 0.25;

			margin-left: auto;
			margin-right: auto;

			position: absolute;
			left: 0;
			right: 0;
		}

		.egg_copy {
			// border: 2px solid #00ff00;

			line-height: 1.25em;
			text-align: center;

			opacity: 0;

			margin: 25% 0 0 0;
			padding: 0;
		}
	}
}
